/* Juan Garcia  */
body {
background-color: #FF9933;
}
img {
box-shadow: .5em .5em .5em #404040;
margin: 1%;
text-align: center;
max-width: 100%;
}
#container {
width: 100%;
margin-left: auto;
margin-right: auto;
}
header {
font-family: Verdana, Arial, sans-serif;
margin-top: 0.2em;
text-align: center;
}
main {
display: block;
margin-top: 0.5em;
padding: 1em;
border-radius: 1em;
background-color: #FFFFFF;
}
footer {
font-size: .70em;
text-align: center;
margin-top: 2em;
}